<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Title</title>
</head>
<body>
    <img id="logo" src="logo.png">
    <div id="title">Title</div>

    <header></header>

    <ul id="navbar">
        <li><a href="/">Home</a></li>
    </ul>

    <article>

        {{{body}}}

    </article>

    <footer>
        Bitcamp 2018
	</footer>


</body>
</html>
