<form action="/enter" method="post">
    <input type="radio" name="gender" value="male" checked>Male
    <input type="radio" name="gender" value="female">Female<br>
    <br><input id="weight" name="weight" type="number"> lbs<br>
    <br><input id="feet" name="feet" type="number"> ft<br>
    <br><input id="inches" name="inches" type="number"> in<br>
    <br><input type="submit" value="Start"><br>
</form>
